/*================================================================================
	Item Name: Materialize - Material Design Admin Template
	Version: 5.0
	Author: PIXINVENT
	Author URL: https://themeforest.net/user/pixinvent/portfolio
================================================================================

NOTE:
------
PLACE HERE YOUR OWN CSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
div.error {
    font-size: .8rem;
    position: relative;
    top: 0rem;
    left: 0rem;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
    color: #ff4081;
}
span.dtr-title::after {
    content: ":";
  }
div.clearfix{
	clear:both;
}
.modal {
    position: fixed;
    right: 0;
    left: 0;
    display: none;
    overflow-y: auto;
    width: 55%;
    /* max-height: 70%; */
    margin: auto;
    padding: 0;
    border-radius: 2px;
    background-color: #fafafa;
    will-change: top, opacity;
}

.modal {
    position: fixed;
    right: 0;
    left: 0;
    display: none;
    overflow-y: auto;
    width: 55%;
    max-height: 90%;
    margin: auto;
    padding: 0;
    border-radius: 2px;
    background-color: #fafafa;
    will-change: top, opacity;
}

input[readonly] {
    background-color: #f4f8fb !important;
    opacity: 1;
}

.brand-sidebar .logo-wrapper a.brand-logo img {
    height: 20px;
}

#card-stats .card .card-action {
   font-size:12px;
}

.input-field > label:not(.label-icon).force-active {
	-webkit-transform: translateY(-14px) scale(.8);
	-moz-transform: translateY(-14px) scale(.8);
	-ms-transform: translateY(-14px) scale(.8);
	-o-transform: translateY(-14px) scale(.8);
	transform: translateY(-14px) scale(.8);
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	transform-origin: 0 0;
}
@media only screen and (min-width: 993px){
	ul.stepper.horizontal .step .step-content {
		position: absolute;
		height: calc(100% - 84px);
		top: 84px;
		display: block;
		left: -100%;
		width: 100%;
		overflow-y: auto;
		overflow-x: hidden;
		margin: 0;
		padding: 0 !important;
		transition: left .4s cubic-bezier(.4,0,.2,1);
	}
}

.padding-top-6{
    padding-top:6px !important;
}


.padding-top-5{
    padding-top:5px !important;
}

.margin-minus-4{
    padding-top:6px !important;
}