button.dt-button, div.dt-button, a.dt-button {
    margin-left: 11px;
	background: #303f9f;
    background: -webkit-linear-gradient(45deg, #303f9f, #7b1fa2) !important;
    background: -moz- oldlinear-gradient(45deg, #303f9f, #7b1fa2) !important;
    background: -o-linear-gradient(45deg, #303f9f, #7b1fa2) !important;
    background: linear-gradient(45deg, #303f9f, #7b1fa2) !important;
    color: #fff;
    background-image: none;

}

@media only screen and (max-width: 640px) {
    div.dt-buttons {
        margin-top: 9px !important;
        float: none !important;
        text-align: center;
    }
}